body{
    width:100%;
    background-color: white;
}
#main{
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    width:99%;
    margin:30px auto;
    background-color: rgb(234, 234, 234);
    border-radius: 0.5%;
}
#img-div{
    width:96%;
    background-color: white;
}